<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        

        {% block head%}
            <title>Davi Bastos</title>
        {% endblock %}
        
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="stylesheet" href="/styles/main-page.css">
        <link rel="stylesheet" href="/styles/projects-page.css">
        <link rel="stylesheet" href="/styles/devs-page.css">
    </head>

    <body>
        <header>
            <div class="links">
                <a href="/">PERFIL</a>
                <a href="/projects">PROJETOS</a>
            </div>
        </header>

        {% block content %}

        {% endblock %}

    </body>

</html>